<textarea id="in" cols="60" rows="10">{}</textarea>
<div>
  <label for="template">
    Use template:
  <label>
  <select id="template">
    <option>default</option>
  </select>
  <button id="transform-local">
    transform (local)
  </button>
  <button id="transform-server">
    transform (server)
  </button>
</div>

<textarea id="out" cols="60" rows="10" readonly></textarea>

<script src="scripts/handlebars-v3.0.3.js"></script>
<script src="scripts/wr20specData.js"></script>
<script src="scripts/context.js"></script>
<script src="scripts/handlebars+helpers.js"></script>
<script src="scripts/earlReporter.js"></script>
<script src="scripts/main.js"></script>